@model Species
@{
    ViewData["Title"] = "ViewSpecies";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSpecies</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">You Chose @Model.SpeciesName</h1>
    </div>
    <br />
    <div>
        <table style="width:100%">
            <tr>
                <th>Species Name</th>
                <th>Classification</th>
                <th>Designation</th>
                <th>Avg. Height (in.)</th>
                <th>Language</th>
                <th>Avg. Life Span (yrs.)</th>
                <th>Homeworld</th>
            </tr>
            <tr>
                <td>
                    @Model.SpeciesName
                </td>
                <td>
                    @Model.Classification
                </td>
                <td>
                    @Model.Designation
                </td>
                <td>
                    @Model.AvgHeight
                </td>
                <td>
                    @Model.Language
                </td>
                <td>
                    @Model.AvgLifeSpan
                </td>
                <td>
                    @Model.Homeworld
                </td>
            </tr>
        </table>
    </div>
</body>
</html>